.input{
    position: center relative;
    margin-left: 23vw;
    margin-top: 22vh;
}
h1{
    margin-top: 2vh;
    text-align: center;
    padding-top: 2vh;
    font-family: Brush Script MT;
    font-size: 6vw;
    color: orange;
}
.bu1{
    position: relative;
    font-size: 25px;
    border-radius: 17%;
    background-color: orange;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
    margin: 5px;
    margin-top: 3vh;
    margin-right: 11.5vw;
}
body{
    background-image : url('../images/back1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.te1{
    position: relative;
    background-color: gainsboro;
}
.bu1:hover {
    position: relative;
    background-color: orangered;}